@-webkit-keyframes stt{
    0%{
        height: 50%;
    }
    100%{
        height: 10%;
    }
}
@-webkit-keyframes appear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@-webkit-keyframes mv{
    0%{
        width: 100%;
        height: 0%;
        top: 50%;
    }
    100%{
        width: 12%;
        height: 80%;
        top: 10%;
    }
}

#mid
{
    position: fixed;
    float: left;
    background-color: rgb(159,161,164);
    width: 12%;
    height: 80%;
    top: 10%;
    animation-duration: 2s;
} 
#letter
{
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255,255,255,75%);
    font-size: 10px;
}
header
{
    position: fixed;
    background-color: rgb(181,018,027);
    width: 100%;
    height: 10%;
    text-align: center;
    animation-duration: 2s;
}

footer
{
    position: fixed;
    bottom: 0%;
    background-color: rgb(0,62,126);
    width: 100%;
    height: 10%;
    animation-duration: 2s;
}

#yt
{
    position: absolute;
    top: 16%;
    right: 15%;
    float: right;
    width: 1280px;
    height: 720px;
}

#tb
{
    align-self: center;
    position: fixed;
    bottom: 0%;
    color: white;
    font-size: 10px;
}

#maps
{
    width: 50%;
    height: 60%;
    position: absolute;
    top: 16%;
    right: 15%;
    float: right;
    align-self: center;
}

#foot
{
    text-align: right;
    color: white;
    position: absolute;
    bottom: 0%;
    right: 0%;
    opacity: 100%;
    animation-duration: 2s;
}

.btn
{
    border-color: white;
    position: relative;
    z-index: 1;
    animation-duration: 2s;
    background-color: rgb(181,018,027);
    top: 50%;
    display: inline-block;
    width: 5%;
}

#title
{
    text-align: center;
    position: absolute;
    width: 85%;
    right: 0%;
    top: 30%;
    bottom: 30%;
    font-size: 25px;
}

#logo
{
    position: absolute;
    left: 20%;
    top: 30%;
    animation-duration: 2s;
}

#ttext
{
    position: relative;
   right: 10%;
}

#howtocome
{
    
}
.tbl_basic
{
    z-index: -1;
    position: relative;
    left: 15%;
    border: 1px solid #ccc;
    background-color: rgba( 0,0,0,30% );
    width: 80%;
  

}
td
{
    height: 15px;
}
.cell_left
{

}

.row
{  
    
}

#a2010a
{

}

#s2010s
{

}
#s1980s
{

}
#s1990s
{

}
#s1970s
{

}