@import url('https://fonts.googleapis.com/css?family=Dokdo|East+Sea+Dokdo&display=swap');

@-webkit-keyframes stt{
    0%{
        height: 50%;
    }
    100%{
        height: 10%;
    }
}
@-webkit-keyframes appear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@-webkit-keyframes disappear{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@-webkit-keyframes bgappear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 50%;
    }
}

@-webkit-keyframes mv{
    0%{
        width: 100%;
        height: 0%;
        top: 50%;
    }
    100%{
        width: 12%;
        height: 80%;
        top: 10%;
    }
}

#mid
{
    z-index: 1;
    position: fixed;
    float: left;
    background-color: rgb(159,161,164);
    width: 12%;
    height: 80%;
    top: 10%;
    animation-duration: 2s;
} 
#letter
{
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255,255,255,75%);
    font-size: 10px;
}
header
{
    z-index: 1;
    position: fixed;
    background-color: rgb(185,0,5);
    width: 100%;
    height: 10%;
    text-align: center;
    animation-duration: 2s;
}

footer
{
    z-index: 1;
    position: fixed;
    bottom: 0%;
    background-color: rgb(010,031,098);
    width: 100%;
    height: 10%;
    animation-duration: 2s;
}

#yt
{
    position: absolute;
    top: 11%;
    left: 15%;
    float: right;
    width: 1280px;
    height: 720px;
}

#tb
{
    align-self: center;
    position: fixed;
    bottom: 0%;
    color: white;
    font-size: 10px;
}

#maps
{
    width: 50%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0%;
    float: right;
    align-self: center;
}

#foot
{
    text-align: right;
    color: white;
    position: absolute;
    bottom: 0%;
    right: 0%;
    opacity: 100%;
    animation-duration: 2s;
}

.btn-danger
{
    border-color: rgb(185,0,5);
    position: relative;
    z-index: 1;
    animation-duration: 2s;
    background-color: rgb(185,0,5);
    top: 45%;
    right: 0%;
    display: inline-block;
    width: 192px;
}


#title
{
    z-index: 1;
    text-align: center;
    position: absolute;
    width: 85%;
    right: 0%;
    top: 30%;
    bottom: 30%;
    font-size: 100px;    
    animation-duration: 3s;
    color: rgb(083,153,213);
    font-family: 'Dokdo', cursive;
    text-shadow: 2px 2px 2px black;
    opacity: 0;
}

#logo
{
    z-index: 1;
    position: absolute;
    left: 20%;
    top: 30%;
    animation-duration: 2s;
    opacity: 0;
}

#bg1
{
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 50%;
    height: 50%;
    z-index: 0;
    -webkit-animation: bgappear 2s 1s infinite linear alternate;
    -moz-animation: bgappear 2s 1s infinite linear alternate;
    -ms-animation: bgappear 2s 1s infinite linear alternate;
    -o-animation: bgappear 2s 1s infinite linear alternate;
    animation: bgappear 2s 1s infinite linear alternate;
}

#bg2
{
    opacity: 0;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 50%;
    z-index: 0;
    -webkit-animation: bgappear 3s 2s infinite linear alternate;
    -moz-animation: bgappear 3s 2s infinite linear alternate;
    -ms-animation: bgappear 3s 2s infinite linear alternate;
    -o-animation: bgappear 3s 2s infinite linear alternate;
    animation: bgappear 3s 2s infinite linear alternate;
}

#bg3
{
    opacity: 0;
    position: absolute;
    top: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    z-index: 0;
    -webkit-animation: bgappear 2.5s 3s infinite linear alternate;
    -moz-animation: bgappear 2.5s 3s infinite linear alternate;
    -ms-animation: bgappear 2.5s 3s infinite linear alternate;
    -o-animation: bgappear 2.5s 3s infinite linear alternate;
    animation: bgappear 2.5s 3s infinite linear alternate;
}

#bodys
{
    animation-duration: 2.5s;
    animation-iteration-count: initial;
    height: 80%;
}

#ttext
{
    position: relative;
   right: 10%;
}

#howtocome
{
    position: absolute;
    left: 12%;
    top: 10%;
    width: 38%;
    height: 80%;
}

.tbl_basic
{
    position: relative;
    width: 98%;
}

#tbl
{
    position: absolute;
    left: 13%;
    top: 17%;
    height: 73%;
    width: 87%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 1s;
}

table, th, td
{
    z-index: 1;
    border: 0.5px solid black;
}


th
{
    text-align: center;
    background-color: rgb(225, 225, 225);
}

td
{
    background-color: rgb(255, 255, 255);
}

td :hover
{
    background-color: rgb(240, 240, 240);
}
.btn-default
{
    border-color: skyblue;
    color: steelblue;
}

#hbs
{
    position: absolute;
    top: 11%;
    left: 13%;
    width: 87%;
    height: 80%;
    text-align: center;
    overflow: auto;
}
.NS
{

    width: 40%;
    height: 80%;

    text-align: center;
    display: inline-block
}
#NS1{
    position: absolute;
    top: 15%;
    left: 0%;
    right: 50%;
}
#NS2{
    position: absolute;
    top: 15%;
    right: 0%;
    left: 50%;
}
.btn-info
{
    animation-duration: 1s;
    opacity: 0;
}

.Nss
{
    font-size: 48px;
    vertical-align: middle;
    color: rgb(083,153,213);
    font-family: 'Dokdo', cursive;
    text-shadow: 2px 2px 2px black;
    overflow: auto;
}